.main-cnt{
    display: flex;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
}
.password-cnt{
    display: flex;
}
.generated-password{
    display: flex;
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 5px;
}
.generate-password-btn{
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: blue;
    color: white;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}