.counter-btn{
    width: 75px;
    height: 30px;
    border: none;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}