.tab-parent-cnt{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.tab-data-cnt{
    margin-top: 12px;
}
.submit-btn{
    width: 70px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}